.landing {
  padding: 80px 20px;
}

.landing-header {
  max-width: 1100px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.landing-text {
  flex: 1;
}

.heading {
  font-size: 36px;
  margin-bottom: 16px;
}

.content {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.landing-image {
  flex: 1;
  text-align: center;
}

.landing-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.features-list {
    height:200px;
  max-width: 900px;
  margin: 0 auto;
  list-style: none;
  padding-top:10px;
  padding-left: 20px;
  background-color: rgb(139, 205, 184);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.features-list li {
  margin-bottom: 12px;
  line-height: 1.5;
}

/* MOBILE */
@media (max-width: 768px) {
  .landing-header {
    flex-direction: column;
    text-align: center;
  }
}
