#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}

.container {
  height:auto;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 8px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 12px;

  margin-bottom: 14px;
  margin-right:10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}


@media (max-width: 768px) {
  #root {
    padding: 1rem;
    text-align: left; 
  }

  .container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
  }

  h1 {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 16px;
  }

  input {
    width: 100%;
    margin-right: 0;
    font-size: 14px;
  }

  button {
    font-size: 15px;
    padding: 12px;
  }
}

